---
layout: default
title: Who am I?
date: 2024-5-24 11:59
teaser: My name is.. My name is.. chikachika-Yoloh3
image: /imgs/logo/H3_logo.PNG
author: heroh396
comments: true
redirect_from: 
shortUrl: 
---

<div class="container-fluid image-header" style="background-image: url('{{ page.image }}');">
  <div class="row">
    <div class="image-header-overlay">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="featured">{{page.title}}</h1>
          {% assign author = site.data.authors[page.author] %}
          <div class="post-author-head">
            <img src="{{ author.gravatar }}">
              {% if author %}
              <div class="post-metadata">
				  <!--by <a ref="{{ author.name }}" href="/about">{{ author.name }}</a> -->
				  by  {{ author.name }}
                <br />
                {{ page.date | date: "%b %-d, %Y"}}
              </div>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div class="col-md-8 col-md-offset-2 post-content">
        <div class="post-wrapper">
          <article class="post-content">
            <div class="post-wrapper-content">
              An IC Design Engineer with 6+ years of semiconductor industry experience,
            including 3 years working in Toshiba Japan, 2 years working in Toshiba Vietnam,
            1 year working in Quest Global Vietnam, and also 2 years researching in an IC design laboratory.
            <br><br>
              I graduated with a Bachelor’s degree in Electronics and Telecommunications
            from Vietnam National University of Engineering and Technology (VNU-UET) in 2018.
            During my undergraduate studies under the supervision of Professor Xuan-Tu Tran at the VNU Key Laboratory for Smart Integrated Systems (SISLAB-VNU),
            I had research experience and contributed two international conference papers.
            Before graduation, I led my team to win a 1st Runner-up Award at the LSI Design Contest 2018 – a student design contest in Okinawa, Japan.
            <br><br>
              After presenting our contribution to the contest in Japan, I had opportunity to join Toshiba Corporation as an ASIC Design Engineer.
            After 6 months of trainee experience at the Association for Overseas Technical Cooperation and Sustainable Partnerships (AOTS) in Tokyo,
            I had 2.5 years of working experience at Toshiba Electronic Devices & Storage Corporation (TDSC) in Yokohama, Japan.
            <br><br>
              I have solid knowledge about ASIC design flow from architecture, RTL design, physical design, verification, and timing signoff.
            My current area is IC design for testing process (DFT – Design for Testability) which ensures the highest chip reliability.
            I am proficient in the DFT implementation process, and experienced from Test specification creation to DFT insertion and validation at pre-silicon and post-silicon.
            <br><br>
              After 5 years working at Toshiba Corporation (3 years in Japan and 2 years in Vietnam),
            I have joined Quest Global Vietnam (former name is Synapse Design Inc.) in the role of DFT Lead Engineer.
            Currently, I am working with customers as a project leader and customer interface.
            I am familiar with global working environments from multiple projects that worked with multi-functional global teams from Japan, India, Malaysia, America.
            <br><br>
              Besides, I am highly passionate about cutting-edge technologies, knowledge sharing, and blog writing.
            During my spare time, I have built a small team for a non-profit IC design project.
            We are building an IC design platform that includes implementation flow, teaching documents, technique sharing, etc.,
            using open-source EDA implementation tools (OpenLane, SKY130 PDK).
            Our objective is to create a fundamental environment for anyone interested in IC design so they can learn and be able to build a chip by themselves.
            <br><br>
            + Professional connect: <a href="https://www.linkedin.com/in/yoloh3/">linkedin.com/in/yoloh3</a></li>
            <br>
            + Our OpenIC project: <a href="https://yoloh3.com/soc/2024/03/22/Series-of-IC-design/">series of IC design</a></li>
            <br>
            + Where I am chilling: <a href="https://github.com/yoloh3">github.com/yoloh3</a></li>
            <br>
            + Wanna be a part of my life: <a href="https://www.facebook.com/yoloh3">fb.com/yoloh3</a></li>
            </ul></h3>
            <br><br></div>

            {% include signup-block.html %}
            {% if page.comments %}

            <div id="disqus_thread"></div>
                <script>
                    /**
                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT:
                    https://disqus.com/admin/universalcode/#configuration-variables*/
                    /*
                    var disqus_config = function () {
                        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical
                        URL variable
                        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your
                        page's unique identifier variable
                    };
                    */
                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://yoloh3.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            {% endif %}
          </div>
        </article>
      </div>
    </div>
  </div>